# ~/.local/share/applications/cursor.desktop
[Desktop Entry]
Name=Cursor
Type=Application
Categories=Development;
Icon=/opt/cursor.png
Exec=/opt/cursor.appimage
Exec=/opt/cursor.appimage --enable-features=UseOzonePlatform --ozone-platform=wayland %F
